<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:mvc="http://www.springframework.org/schema/mvc"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc-4.1.xsd
		http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.1.xsd
		http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-4.1.xsd">

	<tx:annotation-driven transaction-manager="transactionManager"/>
	<context:annotation-config/>
	
	<bean id="dataSource" class="com.mchange.v2.c3p0.ComboPooledDataSource"
		destroy-method="close">
		<property name="driverClass" value="oracle.jdbc.driver.OracleDriver"/>
		<property name="jdbcUrl"
			value="jdbc:oracle:thin:@localhost:1521:orcl"/>
		<property name="user" value="c##team"/>
		<property name="password" value="1234"/>
		<property name="maxPoolSize" value="100"/>
		<property name="maxIdleTime" value="600" />
		<property name="idleConnectionTestPeriod" value="300" />	
	</bean>
	
	<bean id="transactionManager" class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
		<property name="dataSource" ref="dataSource"/>
	</bean>
	<bean id="sqlSessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean">
		<property name="dataSource" ref="dataSource" />
		<property name="configLocation"
		 value="classpath:config/mybatis-config.xml"/>
		<property name="mapperLocations">
			<list>
				<value>classpath:config/sqlmap-member.xml</value>
				<value>classpath:config/sqlmap-userBoard.xml</value>
				<value>classpath:config/sqlmap-reco.xml</value>
				<value>classpath:config/sqlmap-comment.xml</value>
			</list>
		</property>
	</bean>
	<bean id="sqlSessionTemplate" class="org.mybatis.spring.SqlSessionTemplate"
		destroy-method="clearCache">
		<constructor-arg ref="sqlSessionFactory"/>	
	</bean>
	<bean id="memberDao" class="member.dao.MemberDaoImpl">
		<constructor-arg ref="sqlSessionTemplate"/>
	</bean>
	<bean id="memberSvcImpl" class="member.service.MemberServiceImpl">
	</bean>
	<bean id="authService" class="member.service.AuthService">
		<property name="memberDao" ref="memberDao"/>
	</bean>
	<bean id="multipartResolver" class="org.springframework.web.multipart.commons.CommonsMultipartResolver">
		<property name="maxUploadSize" value="100000000"/>
		<property name="maxInMemorySize" value="100000000"/>
	</bean>
	<bean id="userBoardDao" class="userBoard.dao.UserBoardDaoImpl">
		<constructor-arg ref="sqlSessionTemplate"/>
	</bean>
	<bean id="userBoardSvcImpl" class="userBoard.service.UserBoardServiceImpl">
	</bean>
	<bean id="recoDao" class="reco.dao.RecoDaoImpl">
		<constructor-arg ref="sqlSessionTemplate"/>
	</bean>
	<bean id="recoSvcImpl" class="reco.service.RecoServiceImpl">
	</bean>
	<bean id="commentDao" class="comment.dao.CommentDaoImpl">
		<constructor-arg ref="sqlSessionTemplate"/>
	</bean>
	<bean id="commentSvcImpl" class="comment.service.CommentServiceImpl">
	</bean>
</beans>
